---
---
// /*
//  * assets/main.scss
//  * the dashed lines above are required
//  */

// $background-color: #1d1d1d; /* a dark, off-black for the bg */
// $text-color: #e6e6e6; /* an off-white for the text */
// $grey-color-light: #565656; /* for the border-top separators */
// $grey-color-dark: #adadad; /* such as the site title in the header, visited */

// @import "{{ site.theme }}";

background-color: var(--background-color);

html { 
	--light-text-color: rgb(72, 72, 74);
  	--link-color: rgb(0, 112, 201);
  	--main-background-color: rgb(255, 255, 255);
  	--main-text-color: rgb(51, 51, 51);
}

@media (prefers-color-scheme: dark) {
	html {
		--light-text-color: rgb(199, 199, 204);
  		--link-color: rgb( 100, 210, 255);
  		--main-background-color: rgb(28, 28, 30);
  		--main-text-color: rgb(229, 229, 234);
	}
}